.login-form {
    padding: 16px;
    font-size: 20px;
}

.signup-form {
    padding: 16px;
    font-size: 20px;
}

button {
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    display: inline-block;
}

button:hover {
    opacity: 0.8;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
