#auth-forms-container {
    display: flex;
    justify-content: center;
}

#auth-forms-container-container {
}

.login-form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
}

.signup-form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
}

button {
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

button:hover {
    opacity: 0.8;
  }

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media screen and (max-width: 980px) {
    .login-form {
        display: inline-block;
    }
    
    .signup-form {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .login-form {
        display: inline-block;
    }
    
    .signup-form {
        display: inline-block;
    }
}

@media screen and (max-width: 575px) {
    .login-form {
        display: inline-block;
    }
    
    .signup-form {
        display: inline-block;
    }
}
